*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}
.flexContUpload {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.flexContUpload input {
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 1vh;
    border: solid black;

}




