* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: rgba(30, 30, 30, 1);
}

.testCont {
    height: 100%;
}
.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign {
    margin-top: 3%;
    background-color: rgba(18, 18, 18, 1);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;

}
.sign p {
    font-size: 8px;
}

#matchfield {
    margin-top: 5%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    border: 10px solid rgba(21,25,32,1);
    border-radius: 3px;
    box-shadow: 0px 0px 22px 8px rgba(0,0,0,0.75);
}


/*
.infoframe {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#info {
    width: 20%;
    height: 8%;
    min-width: 20%;
    background-image: url("/media/frame.png");
    background-size: 100% 100%;
    padding: 1%;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 22px 8px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;

}

.shadowCont p {
    margin-top: 1%;
}

*/
