* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: rgba(30, 30, 30, 1);
}
.layoutContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frame {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#matchfield {
    height: 90%;
    border-radius: 5px;
}

.field {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(18, 18, 18, 1);
    flex: 4;
    border-radius: 5px 0  0 5px ;
}


.info {
    height: 100%;
    background-color: black;
    flex: 1;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoFrame {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.buttonFrame {

    border-radius: 0 5px 0 0;
}
.statFrame {

}

.activeItemFrame {

    border-radius: 0 0 5px 0;
}

#readyButton {
    padding: 3%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 18, 18, 1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 7px;
    padding: 1%;
    margin-top: 1%;
    border-radius: 5px;

}

